<%- include("template/header", {titulo_web: "Create new Pet" }) %>
    <div class="container">
        <h1>Crear mascota</h1>
        <form action="">
            <input type="text" class="form-control my-2" placeholder="add name">
            <input type="text" class="form-control my-2" placeholder="add description">
            <input type="text" class="form-control my-2" placeholder="add emoji">
            <button class="btn btn-success btn-block">Add</button>
        </form>
    </div>
<%- include("template/footer")%>